<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 利用thymeleaf的fragment机制加载head -->
<!-- 其中head(title)为函数, title为当前页面的的标题 -->
<!-- th:insert为插入 th:replace为替换 -->
<div th:replace="~{/fragment/common-fragment :: head(首页)}"></div>
<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <!-- 推荐 -->
        <div th:if="${!#lists.isEmpty(topMovies)}" class="movie-best" style="margin-top: 30px">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">
                今日最佳影片
            </div>
            <div class="col-sm-12 change--col">
                <!-- 一项 -->
                <div th:each="top : ${topMovies}" class="movie-beta__item ">
                    <!-- 海报 -->
                    <img th:src="${top.poster}" alt="" src="http://placehold.it/380x600"/>
                    <!-- 评分 -->
                    <span class="best-rate" th:text="${top.score}">5.0</span>

                    <ul class="movie-beta__info">
                        <li><span class="best-voted"><span th:text="${top.num}"></span>人为此影片评分</span></li>
                        <li>
                            <p class="movie__time"><span th:text="${top.duration}">169</span><span>分钟</span></p>
                            <p><span style="margin-right: 2px" th:each="c : ${top.categories}"
                                     th:text="${c.name}"></span></p>
                            <p th:if="${top.reviewNum eq 0}">暂时没有人评论</p>
                            <p th:unless="${top.reviewNum eq 0}"><span
                                    th:text="${top.reviewNum}"></span><span>条评论</span></p>
                        </li>
                        <li class="last-block">
                            <a th:href="@{/movie(id=${top.id})}" href="movie-page-left.html" class="slide__link">更多</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 间隔 -->
        <div class="clearfix"></div>
        <h2 th:if="${!#lists.isEmpty(releasedMovies)}" id="target" class="page-heading heading--outcontainer">正在热映</h2>
        <!-- 热映 -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 col-md-9 col-lg-12">
                    <!-- Movie variant with time -->
                    <div th:each="r : ${releasedMovies}" class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a th:href="@{/movie(id=${r.id})}" href="#" class="movie-beta__link">
                                <img th:src="${r.poster}" alt="" src="http://placehold.it/424x424"/>
                            </a>
                        </div>

                        <div class="movie__info">
                            <a th:href="@{/movie(id=${r.id})}" href="#" th:text="${r.name}" class="movie__title"
                            >Gravity (2013)
                            </a>

                            <p class="movie__time"><span th:text="${r.duration}">91 min</span> <span>&nbsp;分钟</span></p>

                            <p class="movie__option">
                                <a style="margin-right: 3px" th:each="c : ${r.categories}" th:text="${c.name}" href="#">Sci-Fi</a>
                            </p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                </div>

            </div>
        </div>

        <!-- 资讯 -->
        <div th:if="${!#lists.isEmpty(news)}" class="col-sm-12">
            <h2 class="page-heading">最新资讯</h2>
            <!-- start -->
            <div th:each="n : ${news}" class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <p th:text="${#dates.format(n.createTime, 'yyyy-MM-dd')}" class="post__date">22 October 2013</p>
                    <a th:text="${n.title}" th:href="@{/news(id=${n.id})}" href="news.html" class="post__title">"Thor:
                        The Dark World" - World Premiere</a>
                    <a th:href="@{/news(id=${n.id})}" href="news.html" class="btn read-more post--btn">了解更多</a>
                </div>
            </div>
            <!-- end -->
        </div>
    </section>

    <div class="clearfix"></div>

    <!-- footer -->
    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript -->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Home();
    });
</script>
</body>
</html>
