<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragment/common-fragment :: head(电影列表)}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Search bar -->
    <div class="search-wrapper">
        <div class="container container--add">
            <form id="search-form" method="get" class="search">
                <input type="text" class="search__field" placeholder="Search"/>
                <select
                        name="sortBy"
                        id="search-sort"
                        class="search__sort"
                        tabindex="0"
                >
                    <option value="1" selected="selected">By title</option>
                    <option value="2">By year</option>
                    <option value="3">By producer</option>
                    <option value="4">By title</option>
                    <option value="5">By year</option>
                </select>
                <button type="submit" class="btn btn-md btn--danger search__button">
                    search a movie
                </button>
            </form>
        </div>
    </div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">Movies</h2>

            <div class="tags-area">
                <div class="tags tags--unmarked">
                    <span class="tags__label">Sorted by:</span>
                    <ul>
                        <li class="item-wrap">
                            <a th:href="@{/movies}" href="#" class="tags__item">所有</a>
                        </li>
                        <li class="item-wrap">
                            <a th:href="@{/movies(status=1)}" href="#" class="tags__item">正在上映</a>
                        </li>
                        <li class="item-wrap" th:each="category : ${categories}">
                            <a th:href="@{/movies(categoryId=${category.id})}" th:text="${category.name}" href="#"
                               class="tags__item">category</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Movie preview item -->
            <div th:each="movie : ${movies.getList()}" class="movie movie--preview movie--full release">
                <div class="col-sm-3 col-md-2 col-lg-2">
                    <div class="movie__images">
                        <img th:if="${movie.poster != null}" th:src="${movie.poster}" alt=""
                             src="http://placehold.it/380x600"/>
                        <img th:unless="${movie.poster != null}" alt="暂无图片" src="http://placehold.it/380x600"/>
                    </div>
                    <!-- 评论数 -->
                    <div class="movie__feature">
                        <a href="#" class="movie__feature-item movie__feature--comment">123</a>
                    </div>
                </div>

                <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                    <a th:text="${movie.name}" th:href="@{/movie(id=${movie.id})}" href="/movie"
                       class="movie__title link--huge"
                    >Last Vegas (2013)</a
                    >

                    <p class="movie__time"><strong th:text="${movie.duration}"></strong><span>分钟</span></p>

                    <p class="movie__option">
                        <strong>国家: </strong><a th:text="${movie.country}" href="#">USA</a>
                    </p>
                    <p class="movie__option">
                        <strong>类别: </strong><a style="margin-right: 2px" th:each="category : ${movie.categories}"
                                                th:text="${category.name}" href="#">Comady</a>
                    </p>
                    <p class="movie__option">
                        <strong>上映时间: </strong><span th:text="${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}"></span>
                    </p>
                    <p class="movie__option">
                        <strong>导演: </strong><a th:text="${movie.directors}" href="#">Jon Turteltaub</a>
                    </p>
                    <p class="movie__option">
                        <strong>演员: </strong><span th:text="${movie.actors}">Robert De Niro</span>
                    </p>

                    <div th:if="${session.user != null}" class="movie__btns">
                        <a th:if="${movie.status eq 1}" href="#" class="btn btn-md btn--warning">预订此电影</a>
                        <a href="#" class="watchlist">添加到播放列表</a>
                    </div>

                    <div class="preview-footer">
                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rate-number">166 <span>&nbsp;人评分</span></span>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- end movie preview item -->

            <div class="coloum-wrapper">
                <div class="pagination paginatioon--full">
                    <a th:if="${movies.hasPreviousPage}" th:href="@{/movies(page=${movies.pageNum} - 1)}" href="#"
                       class="pagination__prev">上一页</a>
                    <a th:if="${movies.hasNextPage}" th:href="@{/movies(page=${movies.pageNum} + 1)}" href="#"
                       class="pagination__next">下一页</a>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:insert="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>
<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MovieList();
    });
</script>
</body>
</html>
