<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(${movie.name})}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading" th:text="${movie.name}">The Hobbit: An Unexpected Journey</h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">
                            <span th:if="${movie.score != null}" th:text="${movie.score}"
                                  class="movie__rating">5.0</span>
                            <img th:src="${movie.poster}" alt="" src="http://placehold.it/526x773"/>
                        </div>
                        <div th:if="${session.user != null}" class="movie__rate">
                            Your vote:
                            <div id="score" class="score"></div>
                            <input type="text" id="myScore" th:value="${myScore}" hidden="hidden">
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time"><span th:text="${movie.duration}"></span><span>&nbsp;分钟</span></p>

                        <p class="movie__option">
                            <strong>国家: </strong><a href="#" th:text="${movie.country}">New Zeland</a>,
                            <a href="#">USA</a>
                        </p>
                        <p class="movie__option">
                            <strong>类别: </strong>
                            <a style="margin-right: 2px" th:each="category : ${movie.categories}"
                               th:text="${category.name}"
                               href="#">Adventure</a>
                        </p>
                        <p class="movie__option">
                            <strong>上映日期: </strong>
                            <span th:text="${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}"></span>
                        </p>
                        <p class="movie__option">
                            <strong>导演: </strong>
                            <a href="#" th:text="${movie.directors}">Peter Jackson</a>
                        </p>
                        <p class="movie__option">
                            <strong>演员: </strong>
                            <a href="#" th:text="${movie.actors}">Martin Freeman</a>
                        </p>

                        <div th:if="${session.user != null}" class="movie__btns movie__btns--full">
                            <a th:if="${movie.status eq 1}" href="#scene" class="btn btn-md btn--warning">预订此电影</a>
                            <a href="#" class="watchlist">添加到播放列表</a>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">剧情</h2>

                <p class="movie__describe" th:text="${movie.plot}">
                    Bilbo Baggins is swept into a quest to reclaim
                </p>
            </div>


            <div class="choose-container">

                <div class="clearfix"></div>

                <div th:if="${!#lists.isEmpty(scenes)}">
                    <h2 id="scene" class="page-heading">场次</h2>
                    <div class="time-select">
                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">时间表</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li th:each="scene : ${scenes}" class="time-select__item" th:text="${scene.showtime}"
                                    th:onclick="|chooseScene(${scene.id})|"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h2 class="page-heading"><span>评论数：</span><span th:text="${movie.reviewNum}"></span></h2>

                <div class="comment-wrapper">
                    <form th:if="${session.user != null}" class="comment-form">
                        <input type="text" id="userId" name="userId" th:value="${session.user}" hidden="hidden">
                        <input type="text" id="movieId" name="movieId" th:value="${movie.id}" hidden="hidden">
                        <textarea class="comment-form__text" name="content" placeholder="发表您的评论吧"></textarea>
                        <button type="submit" class="btn btn-md btn--danger comment-form__btn">
                            发表评论
                        </button>
                    </form>

                    <div th:if="${!#lists.isEmpty(reviews)}" th:each="review : ${reviews}" class="comment-sets">
                        <!-- 评论 -->
                        <div class="comment">
                            <a th:text="${review.nickname}" href="#" class="comment__author">Roberta Inetti</a>
                            <p th:text="${#dates.format(review.createTime, 'yyyy-MM-dd HH:mm:ss')}"
                               class="comment__date">today | 03:04</p>
                            <p th:text="${review.content}" class="comment__message"></p>
                            <a href="#" class="comment__reply">Reply</a>
                        </div>
                        <!-- 评论结束 -->

                        <!-- 回复提示框的展开，在custom.js 1069行 -->
                        <!-- 评论回复 -->
                        <!--                        <div class="comment comment&#45;&#45;answer">-->
                        <!--                            <a href="#" class="comment__author">Dmitriy Pustovalov</a>-->
                        <!--                            <p class="comment__date">today | 10:19</p>-->
                        <!--                            <p class="comment__message">-->
                        <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut-->
                        <!--                                vitae enim sollicitudin, euismod erat id, fringilla lacus.-->
                        <!--                                Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra-->
                        <!--                                a, mattis in velit. Morbi molestie rhoncus enim, vitae-->
                        <!--                                sagittis dolor tristique et.-->
                        <!--                            </p>-->
                        <!--                            <a href="#" class="comment__reply">Reply</a>-->
                        <!--                        </div>-->
                        <!-- 回复结束 -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MoviePage();

        //Rating score init
        $('.score').raty({
            width: 130,
            score: $('#myScore').val(),
            path: 'images/rate/',
            starOff: 'star-off.svg',
            starOn: 'star-on.svg',
            click: function (score, e) {
                var userId = parseInt($('#userId').val());
                var movieId = parseInt($('#movieId').val());
                var data = {
                    "userId": userId,
                    "movieId": movieId,
                    "score": parseInt(score)
                }
                $.ajax({
                    url: '/api/ranks',
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        $('.score').html('<span class="rates__done">感谢您的评分<span>')
                    }
                });
            }
        });

    });

    function chooseScene(sceneId) {
        window.location.href = '/order?sceneId=' + sceneId;
    }
</script>
</body>
</html>
