<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(资讯列表)}"></div>
<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="overflow-wrapper">
            <div class="col-sm-12">

                <h2 class="page-heading">资讯</h2>

                <!-- News post article-->
                <article th:each="news : ${page.getList()}" class="post post--news">

                    <h1><a th:href="@{/news(id=${news.id})}" th:text="${news.title}" href="single-page-full.html"
                           class="post__title-link">Donec eu mollis augue, ut egestas
                        leo</a></h1>
                    <p th:text="${#dates.format(news.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="post__date">29 October
                        2013 </p>

                    <p class="post__text" th:text="${news.content}">Mauris gravida ipsum vitae libero molestie eget
                        dignissim ipsum egestas.
                        Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo
                        rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam,
                        lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla
                        ultrices congue.</p>

                </article>
                <!-- end news post article-->

                <div class="pagination">
                    <a th:if="${page.hasPreviousPage}" th:href="@{/movies(page=${page.pageNum} - 1)}" href='#'
                       class="pagination__prev">上一页</a>
                    <a th:if="${page.hasNextPage}" th:href="@{/movies(page=${page.pageNum} - 1)}" href='#'
                       class="pagination__next">下一页</a>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

</body>
</html>
