<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(新闻)}"></div>

<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="post">

                <h1 th:text="${news.title}">Donec eu mollis augue, ut egestas leo (h1)</h1>
                <p th:text="${#dates.format(news.createTime, 'yyyy-MM-dd')}" class="post__date">29 October 2013 </p>

                <p th:text="${news.content}">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas.
                    Quisque in eros id velit
                    molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat
                    tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo
                    volutpat nunc. <a href="#" class="link--text">Text link sample</a>. Proin accumsan diam vel nulla
                    ultrices congue.</p>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">

    $(document).ready(function () {
        init_SinglePage();
    });
</script>

</body>
</html>