<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{/fragment/common-fragment :: head(评分)}"></div>

  <body>
    <div class="wrapper">
      <!-- Header section -->
      <div th:replace="~{/fragment/common-fragment :: header}"></div>

      <!-- Main content -->
      <section class="container">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="page-heading">评分</h2>

              <div class="rates-wrapper rates--full">
                <table>
                  <colgroup class="col-width-lg"></colgroup>
                  <colgroup class="col-width"></colgroup>
                  <colgroup class="col-width-sm"></colgroup>
                  <colgroup class="col-width"></colgroup>

                  <tr th:each="movie : ${top}" class="rates">
                    <td class="rates__obj">
                      <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.name}" href="#" class="rates__obj-name"
                        >1. Thor: The Dark World</a
                      >
                    </td>
                    <td class="rates__vote"><span th:text="${movie.num}"></span><span>人评分</span></td>
                    <td class="rates__result"><span th:text="${movie.score}"></span></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="clearfix"></div>

      <!-- footer -->
      <div th:replace="~{/fragment/common-fragment :: footer}"></div>
    </div>

    <!-- open/close -->
    <div th:replace="~{/fragment/common-fragment :: pop}"></div>

    <!-- JavaScript-->
    <div th:replace="~{/fragment/common-fragment :: script}"></div>

    <script type="text/javascript">
      $(document).ready(function() {
        init_Rates();
      });
    </script>
  </body>
</html>
