<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(电影票)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div class="ticket">
                <div class="ticket-position">
                    <div class="ticket__inner">
                        <div class="ticket-secondary">
                            <span class="ticket__item">编号 <strong
                                    class="ticket__number" th:text="${order.id}">a126bym4</strong></span>
                            <div>支付时间:</div>
                            <span class="ticket__item ticket__date"
                                  th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span class="ticket__item ticket__price">支付金额:<span>￥</span><strong
                                    th:text="${order.totalPrice}" class="ticket__cost">$60</strong></span>
                        </div>

                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">电影<br>
                                <strong class="ticket__movie"
                                        th:text="${scene.movieName}">The Fifth Estate (2013)</strong>
                                <span class="ticket__item" style="margin-top: 20px"
                                      th:text="${scene.showtime}">17:45</span>
                            </span>

                            <span class="ticket__item ticket__item--primery">座位号:
                                <span class="ticket__place" th:text="${bookedSeats}">11F, 12F, 13F</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>
</body>
</html>
