<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.letsky.movie.repository.MovieRepository">
    <resultMap id="movieResult" type="Movie">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="duration" column="duration"/>
        <result property="directors" column="directors"/>
        <result property="releaseDate" column="release_date"/>
        <result property="plot" column="plot"/>
        <result property="poster" column="poster"/>
        <result property="country" column="country"/>
        <result property="status" column="status"/>
        <collection column="id" property="categories" ofType="Category" select="getCategoryById"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="movieResult">
        SELECT *
        FROM movie
        WHERE id = #{id}
    </select>
    <select id="findAllByCategoryId" parameterType="int" resultMap="movieResult">
        SELECT m.*
        FROM movie m,
             movie_category_relationship r
        WHERE r.movie_id = m.id
          AND r.category_id = #{categoryId}
    </select>
    <select id="findAll" resultMap="movieResult">
        SELECT *
        FROM movie
    </select>
    <select id="findAllByStatus" parameterType="String" resultMap="movieResult">
        SELECT *
        FROM `movie`
        WHERE status = #{status}
    </select>
    <update id="update" parameterType="Movie">
        UPDATE `movie`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="directors != null">directors = #{directors},</if>
            <if test="actors != null">actors = #{actors},</if>
            <if test="releaseDate != null">release_date = #{releaseDate},</if>
            <if test="plot != null">plot = #{plot},</if>
            <if test="poster != null">poster = #{poster},</if>
            <if test="country != null">country = #{country},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getCategoryById" parameterType="int" resultType="Category">
        SELECT c.*
        FROM category c
                 LEFT JOIN movie_category_relationship r
                           ON c.id = r.category_id
        WHERE movie_id = #{id}
    </select>
</mapper>