<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.letsky.movie.repository.RankRepository">
    <update id="update" parameterType="Rank">
        UPDATE `rank`
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="movieId != null">movie_id = #{movieId},</if>
            <if test="score != null">score = #{score}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>